# Dependencies
/node_modules/
/vendor/

# Build artifacts
/build/
/dist/
*.zip

# Composer
composer.lock

# PHPUnit
.phpunit.result.cache
/coverage/

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Local env
.env
.env.local
wp-cli.local.yml
